* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.homeWrapper {
  height: 100vh;
  background: white;
  width:100%;
}
.navbar-expand {
  justify-content: center;
}
.logo {
  height: 70px;
}
.navbarHeader {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.navLink {
  font-size: 25px;
  color: black !important;
}
.content {
 
}
.headerHr {
  background-color: black;
  padding: 3px;
}
.headingContent {
  font-size: 95px;
  font-weight: bold;
}
.imageContent {
  width: 100%;
}
.hello
{
  margin: 0 auto !important;
  width: 75%;
  /* margin:10% !important; */
}
@media (max-width:786px){
  .headingContent {
    font-size: 60px;
    font-weight: bold;
  }
}