* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.homeWrapper {
    background: white;
  width:100%;
}
.navbar-expand {
  justify-content: center;
}
.logo {
  height: 70px;
}
.navbarHeader {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.navLink {
  font-size: 25px;
  color: black !important;
}

.headerHr {
  background-color: black;
  padding: 3px;
}
.headingContent {
  font-size: 95px;
  font-weight: bold;
}
.imageContent {
  width: 100%;
}
.hello
{
  margin: 0 auto !important;
  width: 75%;
}
.headerBtn{
  font-size: 20px;
  border: 3px solid black;
  outline: none !important;
  text-align: center;
  padding: 10px 20px;
  border-radius: 30px;
  color:black;
  background-color: white;
}
.headerBtn:hover{
  color: white;
  background-color: black;
}
@media (max-width:786px){
  .headingContent {
    font-size: 60px;
    font-weight: bold;
  }
}