.productHR{
    border: 2px solid black !important;
    width: 75%;
    text-align: center;
    margin:0 auto
}
.product_Content{
    border: 2px 
    solid black;
    padding: 7px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
/* .detailBtn{
    border: ;
} */