.addCart{
    font-size: 20px;
  border: 3px solid black;
  outline: none !important;
  text-align: center;
  padding: 10px 20px;
  border-radius: 30px;
  color:black;
  background-color: white;
}
.addCart:hover{
    background-color: black;
    color: white;
}
.b{
    border: 2px solid red;
}
.content_col{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    outline: none;

}
.description_product{
    line-height: 35px;
}
.imageDeatils{
    outline: none !important;
}
@media(max-width:986px){
    .imageDeatils{
        width: 400px !important;
    }
}
@media(max-width:400px){
    .imageDeatils{
        width: 300px !important;
    }
}
@media(max-width:320px){
    .imageDeatils{
        width: 280px !important;
    }
}