.navbar-expand {
    justify-content: center;
  }
  .logo {
    height: 50px;
  }
  .navbarHeader {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
  .navLink {
    font-size: 22px;
    font-weight: bold;
    color: black !important;
  }

  .Link{
    text-decoration:none;
    color:black !important;
  }
  .badgePill{font-size: 15px;}