.navbar-expand {
    justify-content: center;
  }
  .logo {
    height: 70px;
  }
  .navbarHeader {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
  .navLink {
    font-size: 25px;
    color: black !important;
  }